<div class="row valign-wrapper background">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card medium">
            <div class="card-content">
                <span class="card-title logo-title">
                    <img src="assets/img/bird-logo.png" class="responsive-img logo logo-medium" alt="Logo"><b>Viewnity</b>
                </span>
                <span class="card-title">Sign in</span>
                <form id="login">
                    <div class="input-field blue-style">
                        <input id="username" type="text" name="username" required>
                        <label for="username">Username</label>
                    </div>
                    <div class="input-field blue-style">
                        <input id="password" type="password" name="password" required>
                        <label for="password">Password</label>
                    </div>
                    <a class="blue-grey-text blue-hover right">FORGOT YOUR PASSWORD?</a>
                    <div class="card-action flex-between">
                        <a href="/register" class="blue-grey-text blue-hover">Create account?</a>
                        <button class="btn waves-effect blue waves-light" type="submit">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/custom/auth/login.js"></script>