<h1>Register page</h1>

<form id="register">
    <input type="text" name="username">
    <input type="password" name="password">
    <button type="submit">submit</button>
</form>

<script src="/assets/js/custom/auth/login.js"></script>