<div class="row valign-wrapper background">
    <div class="col s12 m9 offset-m2 l8 offset-l2" style="padding:0">
        <div class="card">
            <div class="card-content">
                <span class="card-title logo-title">
                    <img src="assets/img/bird-logo.png" class="responsive-img logo logo-medium"
                         alt="Logo"><b>Viewnity</b>
                </span>
                <span class="card-title">Register</span>
                <form id="register">
                    <div class="row">
                        <div class="input-field blue-style col s6">
                            <i class="material-icons prefix">person_outline</i>
                            <input id="firstName" type="text" name="firstName">
                            <label for="firstName">First Name</label>
                        </div>
                        <div class="input-field col blue-style s6">
                            <input id="lastName" type="text" name="lastName">
                            <label for="lastName">Last Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col blue-style s12">
                            <i class="material-icons prefix">person</i>
                            <input id="username" type="text" name="username" class="validate" required>
                            <label for="username">Login</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field blue-style col s6">
                            <i class="material-icons prefix">lock_outline</i>
                            <input id="password" type="password" name="password" class="validate" required>
                            <label for="password">Password</label>
                        </div>
                        <div class="input-field blue-style col s6">
                            <i class="material-icons prefix">lock</i>
                            <input id="confirmPassword" type="password" name="confirmPassword">
                            <label for="confirmPassword" data-error="Password not match" data-success="Password Match">Confirm password</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field blue-style col s12">
                            <i class="material-icons prefix">email</i>
                            <input id="email" type="email" name="email" data-error=".errorTxt2" class="validate" required>
                            <label for="email" data-success="yes" data-error="shit">E-mail</label>
                            <div class="errorTxt2"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field blue-style col s12">
                            <i class="material-icons prefix">phone</i>
                            <input id="phone" type="text" name="phone" class="validate" required>
                            <label for="phone">Phone number</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <i class="material-icons prefix">supervisor_account</i>
                            <input class="with-gap blue-style" name="gender" type="radio" value="male" id="male"/>
                            <label for="male">Male</label>
                            <input class="with-gap blue-style" name="gender" type="radio" value="female" id="female"/>
                            <label for="female">Female</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field blue-style col s4">
                            <i class="material-icons prefix">business</i>
                            <input id="organization" type="text" name="organization" class="validate">
                            <label for="organization">Organization</label>
                        </div>
                        <div class="input-field blue-style col s4">
                            <i class="material-icons prefix">location_city</i>
                            <input id="country" type="text" name="country" class="validate">
                            <label for="country">Country</label>
                        </div>
                        <div class="input-field blue-style col s4">
                            <input id="city" type="text" name="city" class="validate">
                            <label for="city">City</label>
                        </div>
                    </div>
                    <div class="card-action flex-between">
                        <a href="/login" class="blue-grey-text blue-hover">Already have an account?</a>
                        <button class="btn waves-effect blue waves-light" type="submit">Register
                            <i class="material-icons right">perm_identity</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/custom/auth/register.js"></script>