<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/css/lib/bootstrap.min.css">
    <link rel='stylesheet' href='/build/css/build.css'/>

    <script src="/assets/js/lib/jquery-3.2.1.min.js"></script>
</head>
<body>

{{{body}}}

</body>
</html>
