<div style="display: flex; justify-content: center; align-items: center; flex-direction:column">
    <h1>Main page</h1>
    <div class="user-info">
        <h2>Greetings, {{user.name}}!</h2>
    </div>
</div>